<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  list
  <ul>
    {{ each list }}
    <li>
      {{ $value.nickname }}
      <img width="100%" src="{{ $value.img }}" alt="pic">
    </li>
    {{ /each }}
  </ul>
  <!-- 上传文件的时候，表单一定要加上enctype="multipart/form-data" -->
  <form action="/add" method="post" enctype="multipart/form-data">
    <div>
      name: <input type="text" name="nickname">
    </div>
    <div>
      avatar: <input type="file" name="avatar">
    </div>
    <button>add</button>
  </form>
</body>

</html>